<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <div class="container">
    <div class="divTable div-hover">
            <div class="rowTable bg-primary text-white pb-2">
                <div class="divTableCol">Order</div>
                <div class="divTableCol">Quantity</div>
                <div class="divTableCol">Total</div>
            </div>
            <% for (const item of items) { %>
            <div class="rowTable">
                <div class="divTableCol">
                    <div class="media">
                        <a class="thumbnail pull-left mr-2" href="#">
                            <img class="media-object" src= <%= item.photo_url %>
                            style="width: 72px; height: 72px;" />
                        </a>
                        <div class="media-body">

                        </div>
                        <h5 class="media-heading"><%= item.name %> </h5>
                    </div>
                </div>
                <div class="divTableCol">
                    <input type="email" class="form-control" id="exampleInputEmail1" value="1" />
                </div>
                <div class="divTableCol"><strong>$<%= item.price %></strong></div>
                <div class="divTableCol">
                    <button type="button" class="btn btn-danger"><span class="fa fa-remove"></span> Remove</button>
                </div>
            </div>
            <% } %>


            <div class="rowTable">
                <div class="divTableCol"></div>
                <div class="divTableCol"></div>

                <div class="divTableCol"><h3>Total</h3></div>
                <div class="divTableCol">
                    <h3><strong>€570.00</strong></h3>
                </div>
            </div>
            <div class="rowTable">
                <div class="divTableCol"></div>
                <div class="divTableCol"></div>
                <div class="divTableCol"></div>
                <div class="divTableCol">
                    <button type="button" class="btn btn-success">Place Order</span></button>
                </div>
            </div>
    </div>
</div>






  <section id = "orderItem-container">
  </section>
</body>
</html>
