<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- font from google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@500&family=Righteous&family=Source+Sans+Pro:wght@300&display=swap"
    rel="stylesheet">

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <nav class="nav-menu">
    <p class="menu">Menu</p>
    <p class="Main-dishes">Main Dishes</p>
    <p class="Side-dishes">Side Dishes</p>
    <p class="Snack">Snacks</p>
    <p class="Drink">Drinks</p>
  </nav>
  <div class="recommended-list">
    <h1>Recommended</h1>
  </div>
  <div class="main-dish-list">
    <h1>Main Dishes</h1>
  </div>
  <div class="side-dish-list">
    <h1>Side Dishes</h1>
  </div>
  <div class="snack-list">
    <h1>Snacks</h1>
  </div>
  <div class="drink-list">
    <h1>Drinks</h1>
  </div>

</body>