// See: https://sass-lang.com/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px
}

body .main-container {
    width: 80%;
    margin-left: 200px;
    display: flex;
    flex-direction: row
}

body .text-container {
    width: 30%;
    font-size: 25px;
    color: orangered;
    display: flex;
    flex-direction: column
}

iframe {
    margin-left: 300px;
    text-align: center;
}
#meal-page{
    background: #fffaf3;
}
#map {
    background: #fffaf3;
}
#gallery{
    background: #fffaf3;
}
#about {
    width: 90%;
    background: #fffaf3;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.content {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    margin-left: 100px;
}
.content h2 {
    margin: 20px;
    font-family: 'Righteous', cursive;
}
.content h2 span {
    color: #ffb03b;
}
.content p {
    font-size: 20px;
}

.about img {
  margin-left: 150px;
}

#ad {
    margin: 100px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    text-align: center
}
#menu-title h2{
    margin-top:100px;
}
.mealcontainer {
    padding: 25px;
}

#top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
    color:orangered;
}

#meal-price {
  font-size: 30px;
  color:orangered;
  float: right;
}
h6 {
  height: 50px;
  width: 300px;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}
h6 :focus {
  text-overflow: clip;
}

footer {
  background: #fffaf3;
  font-size: 35px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: orange;
}