.maindish-list {
  display:flex;
  flex-direction: row;
}
.recommended-list {
  display: flex;
  flex-direction: row;
}
.sidedish-list {
  display: flex;
  flex-direction: row;
}
.snack-list {
  display: flex;
  flex-direction: row;
}
.drink-list {
  display: flex;
  flex-direction: row;
}
.meals {
  height:350px;
  width:350px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
h6 {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}

#menubar {
  color:whitesmoke;
  margin-top:300px;
  font-size: 20px;
}
li{
  padding:10px;
}
